# mavlink + mavros 
*/mavlink*
*/mavros*

# workspace folders
/build
/devel
/logs
/.catkin_tools
# general catkin workspace setting
*workspace*

# the rest
*tools
*.user*
/slamware*
*.rosinstall*
.catkin*

/avoidance*
