<?xml version="1.0"?>
<model>
  <name>BlueJay 6.1 for HITL simulation</name>
  <version>1.0</version>
  <sdf>BJ6_1.sdf</sdf>

  <author>
   <name>Ryoga Matsuo</name>
   <email>ryogaja7@gmail.com</email>
  </author>

  <description>
    This is a model of BlueJay 6.1 for HITL simulation.
  </description>
</model>
